<h1>Make your form here</h1>
<form action="/pirates" methond="POST">
  
  <label for="pirate_name">Name</label>
  <input type="text" id="pirate_name" name="pirate[name]"></input> 
  
  <label for="pirate_height">Name</label>
  <input type="text" id="pirate_height" name="pirate[height]"></input>
  
  
  
  
  
  
</form>