<h1>Make your form here</h1>
<form action="/pirates" methond="POST">
  
  <label for="pirate_name">Name</label>
  <input type="text" id="pirate_name" name="pirate[name]"></input> 
  
  <label for="pirate_height">Name</label>
  <input type="text" id="pirate_height" name="pirate[height]"></input>
  
  <label for="pirate_weight">Name</label>
  <input type="text" id="pirate_weight" name="pirate[weight]"></input>
  
  <label for="ship_name">Ship No. 1 Name:</label>
  <input type="text" name="pirate[ships][][name]"></input>
  
  <label for="ship_category">Ship No. 1 category:</label>
  <input type="text" name="pirate[ships][][category]"></input>
  
  <label for="ship_booty">Ship No. 1 booty:</label>
  <input type="text" name="pirate[ships][][booty]"></input>
  
  
  
  
  
  
  
  
</form>